{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^(react|next)(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/providers/(.*)",
    "^@/components/(.*)$",
    "^@/(hooks|api|lib|react-query|types|utils)/(.*)$",
    "^@/app/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
